<form id="comment-form" data-id="{{post.id}}">
  <div class="mb-2">
    <label for="input-comment">Comment</label>
    <textarea class="form-control" id="input-comment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-custom">Submit</button>
</form>