<div class="col col-12">
  <div class="card rounded-0 border-0">
    <div class="card-header">
      <h5>From: {{user.name}}</h5>
      <h6 class="card-subtitle">{{format_date createdAt}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{body}}</p>
    </div>
  </div>
</div>