<div class="col col-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle">{{createdAt}}</h6>
    </div>
    <div class="card-footer">
      <a href="/update/{{id}}">
        <button type="button" class="btn btn-info">Edit</button>
      </a>
      <a href="/delete/{{id}}">
        <button type="button" class="btn btn-warning">Delete</button>
      </a>
    </div>
  </div>
</div>