<div class="col col-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle">{{createdAt}}</h6>
    </div>
    <div class="card-footer">
      <a class="btn btn-dark" href="/update/{{id}}">Edit</a>
      <a class="btn btn-warning" data-id="{{id}}" id="delete-button">Delete</a>
    </div>
  </div>
</div>
