<div class="col col-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle">{{createdAt}}</h6>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-info" data-id="{{id}}">Edit</button>
      <button type="button" class="btn btn-warning" data-id="{{id}}">Delete</button>
    </div>
  </div>
</div>