<div class="row g-2 py-1">
  {{> post-card post}}
</div>
{{#if loggedIn}} 
<div class="row g-2 py-1">
  {{> comment-form}}
</div>
{{else}}
<div class="row g-2 py-1">
  <h3 class="outer-text">Comments</h3>
  <h6 class="outer-text">You must <a href="../login">login</a> to comment</h6>
</div>
{{/if}}
<div class="row g-3 py-1">
  {{#each comments as |comment|}}
  {{> comment-card comment}}
  {{/each}}
</div>
<script src="/js/createComment.js"></script>