<h1 class="title-text marker-font">Digital Bytes</h1>
<h2 class="title-text marker-font">Your home for <em>byte</em>-sized digital news!</h2>
<div class="row g-3 py-3">
{{#each posts as |post|}}
    {{> post-card}}
{{/each}}
</div>
