<div class="col col-md-8 col-12">
    <h2>Edit Post</h2>
    <form id="new-post-form">
      <div class="mb-1">
        <label for="input-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="input-title" value="{{post.title}}">
      </div>
      <div class="mb-1">
        <label for="input-body" class="form-label">Body</label>
        <textarea class="form-control" rows="10" id="input-body">{{post.body}}</textarea>
      </div>
      {{!-- post id on the line below is passed in by the route--}}
      <button type="submit" class="btn btn-primary" id="submit-button" data-id="{{post.id}}">Submit</button>
    </form>
  </div>
</div>
<script src='/js/updatePost.js'></script>